[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git

[submodule "themes/doks"]
	path = themes/doks
	url = https://github.com/thuliteio/doks.git
[submodule "themes/techdoc"]
	path = themes/techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "themes/DocuAPI"]
	path = themes/DocuAPI
	url = https://github.com/bep/docuapi/
[submodule "themes/hugo-theme-techdoc"]
	path = themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
